.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  box-sizing: border-box;
  background-color: transparent;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  width: 90%;
  height: 100%;
  border: 3px solid var(--border-transparent);
  background-color: var(--white-transparent);
  border-radius: 12px;
  overflow: hidden;
} 