<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spencer's Analyzer V1.0</title>
</head>
<body>
    <div id="root"></div>
    <script src="/index.jsx" type="module"></script>
    <h1>Stock Analyzer</h1>
    <form action="{{ url_for("home")}}" method="post">
        <label for="ticker">Input Stock Ticker: </label>
        <input type="text" id="ticker" name="ticker" placeholder="e.g. GOOGL" required>
        <input type="submit">
    </form>
</body>
</html>